*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: arial;
	outline-style: none;
}

.header-section{
	width: 100%;
	background-color: #0948b3;
	padding-top: 10px;
}

.header-items{
	display: flex;
	justify-content: space-between;
	position: relative;
}

.container{
	width: 1100px;
	margin: auto;
}

.logo{
	width: 60px;
	height: 30px;
	margin-bottom: 20px;
}

.logo >h1{
	font-size: 30px;
	color: #ffffff;
}

a{
	text-decoration: none;
}

.nav-bar{
	width: 300px;
	height: 20px;
	display: flex;
	margin-top: 10px;
	margin-left: 90px;
}

.nav-bar >a{
	color: #becfeb;
	font-size: 18px;
	padding-left: 20px;
}

.client{
	width: 130px;
	height: 40px;
	background-color: #f67a3c;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.client >h3{
	color: #ffffff;
	font-size: 20px;
}

.ad-section{
	width: 100%;
	background-color: #0948b3;
}

.ad-items{
	display: flex;
}

.ad-item{
	width: auto;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 80px;
}

.discount{
	width: 270px;
	height: 30px;
	background-color: #2e63be;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}

.discount >h3{
	font-size: 15px;
}

.unlimited{
	width: 500px;
	height: 100px;
	color: #ffffff;
	font-size: 40px;
}

.web{
	color: #fff;
	font-size: 25px;
	width: 624px;
	height: auto;
}

.ad-item >a{
	width: 180px;
	height: 50px;
	background-color: #f67a3c;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	border-radius: 10px;
}

.img{
	width: 600px;
	height: 600px;
	margin-right: 20px;
}

.card-item{
	width: 700px;
	height: 200px;
	background-color: #ffffff;
	border-radius: 30px;
	position: absolute;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: absolute;
	bottom: -90px;
	left: 320px;
}

.card-item >h3{
	color: #24374e;
	font-size: 30px;
	padding-top: 20px;
}

.yourdom{
	width: 300px;
	height: 50px;
	background-color: #fff;
	display: flex;
	padding-left: 20px;
	color: #8d9bac;
	font-size: 15px;
	border-radius: 5px;
}

.onlaine-shop{
	display: flex;
	width: 75%;
	justify-content: space-around;
	margin-top: 80px;
}

.com{
	width: 50px;
	height: 50px;
	border-radius: 5px;
	background-color: #fff;
	color: #8d9bac;
}
.search{
	width: 150px;
	height: 50px;
	background-color: #083e9b;
	font-size: 20px;
	border-radius: 10px;
	color: #fff;
}


